@import "./../mixins";

.carousel {
  width: 100%;
  position: relative;
  overflow: hidden;
  outline: none;

  & > button {
    position: absolute;
    z-index: 1;
    @include centerY();

    &:first-of-type {
      left: 30px;
    }

    &:last-of-type {
      right: 30px;
    }
  }

  &-list {
    width: 100%;
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
    position: relative;
  }

  &-slide {
    @include size(100%, 0);
    display: flex;
    flex-shrink: 0;
    position: relative;

    &:hover {
      cursor: grab;
    }
  }

  &-indicators {
    display: flex;
    position: absolute;
    bottom: 15px;
    z-index: 1;
    @include centerX();
    outline: none;

    & > button {
      @include size(10px);
      margin: 7.5px;
    }
  }

  .mat-button-navigate, .mat-button-indicator {
    opacity: 0;
    transition: .3s all ease;
  }

  [mat-icon-button] {
    background: none;
    transition: .5s all ease;
  }

  background: none;
  -webkit-transition: background-color 700ms linear;
  -ms-transition: background-color 700ms linear;
  transition: background-color 700ms linear;
}

.carousel:hover {
  .mat-button-navigate, .mat-button-indicator {
    opacity: 1;
    transition: .3s all ease;
  }

  [mat-icon-button] {
    background: #f5f5f5;
    transition: .5s all ease;
  }

  background: rgba(0, 0, 0, 0.26);
  -webkit-transition: background-color 700ms linear;
  -ms-transition: background-color 700ms linear;
  transition: background-color 700ms linear;
}
